@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: '04B_03';
    font-style: normal;
    font-weight: 400;
    src: url('resources/fonts/04B_03__sub.TTF');
}

@font-face {
    font-family: '8-BIT_WONDER';
    font-style: normal;
    font-weight: 400;
    src: url('resources/fonts/8-BIT_WONDER_title.TTF');
}

@font-face {
    font-family: 'Hpxl_Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('resources/fonts/Hpxl_CondensedV4_5.ttf');
}

.fontHPxl {
    font-family: 'Hpxl_Condensed', monospace;
}
.fontHPxl-sm {
    font-family: 'Hpxl_Condensed', monospace;
    font-size: 10px
}

.font04B {
    font-family: '04B_03', monospace;
}

.font8BITWonder {
    font-family: '8-BIT_WONDER', monospace;
    font-size: 10px;
}

.pixelated {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }

body {
    margin: 0px;
    overflow: hidden;

}

/* -------------------- MENU BAR -------------------- */
#menuBar {
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(1408px * 1);
    background-position:calc(22 * 1 * 64px) calc(0 * 1* 64px);
    background-size:calc(1408px* 1) calc(768px * 1);
}

#menuGold {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(22 * 1 * 64px) calc(22 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}

#menuWood {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(20 * 1 * 64px) calc(22 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}
#menuRock {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(21 * 1 * 64px) calc(22 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}
#menuMetal {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(19 * 1 * 64px) calc(22 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}
#menuCoal {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(18 * 1 * 64px) calc(22 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}
#menuPop {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(17 * 1 * 64px) calc(22 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}
#menuPopFree {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(17 * 1 * 64px) calc(23 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}
#menuMeat {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(16 * 1 * 64px) calc(22 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}
#menuCereal {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(15 * 1 * 64px) calc(22 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}
#menuEnergy {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(14 * 1 * 64px) calc(22 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}

/* <div class="my-sprite" style="--n:2;--i:2;--j:2"></div> */
.my-sprite {
    --n:1; /* scaling factor */
    /* coordinates of the image */
    --i:3; 
    --j:0; 

    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(100px / var(--n));
    width:calc(100px / var(--n));
    background-position:calc(var(--i)/var(--n) * 100px) calc(var(--j)/var(--n) * 100px);
    background-size:calc(500px / var(--n)) calc(400px / var(--n));
    
    border:1px solid;
}

.menuItems {
    margin-left: -5px
}

.buildingFrame {
    background-image: url("resources/front/FrensLand_BuildingFrame.png");
    height:calc(640px * 1);
    width:calc(640px * 1);
    background-size:calc(640px * 1) calc(640px * 1);
    padding-left: 150px;
    padding-right: 135px;
    padding-top: 155px;
    padding-bottom: 150px;
}

.smallGold {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(22 * 1 * 64px) calc(21 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}

.btnHome {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(22 * 1 * 64px) calc(2 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}

.btnHome:hover {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(20 * 1 * 64px) calc(2 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}

.btnHome:active {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(21 * 1 * 64px) calc(2 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}

.btnRight {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(22 * 1 * 64px) calc(2 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}

.btnRight:hover {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(20 * 1 * 64px) calc(2 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}

.btnRight:active {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(21 * 1 * 64px) calc(2 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}

.backgroundImg {
    background-image: url("resources/front/UI_MainScreen.png");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: #10141f;
}


/* -------------------- HOMEPAGE -------------------- */

.btnUpgrade {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 2);
    background-position:calc(22 * 1 * 64px) calc(20 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}
.btnUpgrade:active {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 2);
    background-position:calc(20 * 1 * 64px) calc(22 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}

.btnUpgradeRed {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 2);
    background-position:calc(19 * 1 * 64px) calc(22 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}
.btnUpgradeRed:active {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 2);
    background-position:calc(18 * 1 * 64px) calc(22 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}

.btnMaxed {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 2);
    background-position:calc(17 * 1 * 64px) calc(22 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}




.btnBottom {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(21 * 1 * 64px) calc(2 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}

.btnBottom:hover {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(21 * 1 * 64px) calc(2 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}

.btnBottom:active {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(21 * 1 * 64px) calc(2 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}
/* 22 13 = catégories en haut */
/* home et settings */

/* 21 2 = bâtiments */
/* Ou 14 */
.btnCategory {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(20 * 1 * 64px) calc(14 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}

.btnCategory:hover {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(22 * 1 * 64px) calc(13 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}

.btnCategory:active {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(22 * 1 * 64px) calc(13 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}






.menuSecurity {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(18 * 1 * 64px) calc(5 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
    margin-top: 3px;
}

.menuShop {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(21 * 1 * 64px) calc(5 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
    margin-top: 3px;
}

.menuHouse {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(22 * 1 * 64px) calc(5 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
    margin-top: 3px;
}

.menuEntertainment {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(17 * 1 * 64px) calc(5 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
    margin-top: 3px;
}
.menuFactory {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(20 * 1 * 64px) calc(5 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
    margin-top: 3px;
}
.menuNature {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(15 * 1 * 64px) calc(5 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
    margin-top: 3px;
}




.btnConnect {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 2);
    background-position:calc(20 * 1 * 64px) calc(16 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}
.btnConnect:active {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 2);
    background-position:calc(20 * 1 * 64px) calc(15 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}

.btnMint {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 2);
    width:calc(64px * 3);
    background-position:calc(19 * 1 * 64px) calc(16 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}
.btnMint:hover {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 2);
    width:calc(64px * 3);
    background-position:calc(16 * 1 * 64px) calc(16 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}
.btnMint:active {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 2);
    width:calc(64px * 3);
    background-position:calc(13 * 1 * 64px) calc(16 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}

.btnPlay {
    display:inline-block;
    background-image: url("resources/front/btn_play.png");
    height:calc(64px * 2);
    width:calc(64px * 2);
    background-position:calc(6 * 1 * 64px) calc(2 * 1 * 64px);
    background-size:calc(384px * 1) calc(128px * 1);
}
.btnPlay:hover {
    display:inline-block;
    background-image: url("resources/front/btn_play.png");
    height:calc(64px * 2);
    width:calc(64px * 2);
    background-position:calc(4 * 1 * 64px) calc(2 * 1 * 64px);
    background-size:calc(384px * 1) calc(128px * 1);
}
.btnPlay:active {
    display:inline-block;
    background-image: url("resources/front/btn_play.png");
    height:calc(64px * 2);
    width:calc(64px * 2);
    background-position:calc(2 * 1 * 64px) calc(2 * 1 * 64px);
    background-size:calc(384px * 1) calc(128px * 1);
}

.btnClaim {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 2);
    background-position:calc(17 * 1 * 64px) calc(14 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
    margin-left: 20px
}
.btnClaim:hover {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 2);
    background-position:calc(15 * 1 * 64px) calc(14 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}
.btnClaim:active {
    display:inline-block;
    background-image: url("resources/front/Matchbox_Tiles_UIMainUpscaled.png");
    height:calc(64px * 1);
    width:calc(64px * 2);
    background-position:calc(13 * 1 * 64px) calc(14 * 1 * 64px);
    background-size:calc(1408px * 1) calc(768px * 1);
}




/* TODO : Building Images by ids .building+id */


/* Ligne milieu  */
/* Ligne du bas  */
.building19 {
    display:inline-block;
    background-image: url("resources/front/Matchbox_UI_MenuBuildings.png");
    height:calc(64px * 2);
    width:calc(64px * 2);
    background-position:calc(47 * 2 * 64px) calc(15 * 2 * 64px);
    background-size:calc(1664px * 1) calc(384px * 1);
}
.building20 {
    display:inline-block;
    background-image: url("resources/front/Matchbox_UI_MenuBuildings.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(43 * 1 * 32px) calc(15 * 1 * 32px);
    background-size:calc(1664px * 1) calc(384px * 1);
}
.building21 {
    display:inline-block;
    background-image: url("resources/front/Matchbox_UI_MenuBuildings.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(39 * 1 * 32px) calc(15 * 1 * 32px);
    background-size:calc(1664px * 1) calc(384px * 1);
}
.building22 {
    display:inline-block;
    background-image: url("resources/front/Matchbox_UI_MenuBuildings.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(35 * 1 * 32px) calc(15 * 1 * 32px);
    background-size:calc(1664px * 1) calc(384px * 1);
}
.building23 {
    display:inline-block;
    background-image: url("resources/front/Matchbox_UI_MenuBuildings.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(27 * 1 * 32px) calc(15 * 1 * 32px);
    background-size:calc(1664px * 1) calc(384px * 1);
}
.building24 {
    display:inline-block;
    background-image: url("resources/front/Matchbox_UI_MenuBuildings.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(23 * 1 * 32px) calc(15 * 1 * 32px);
    background-size:calc(1664px * 1) calc(384px * 1);
}
.building25 {
    display:inline-block;
    background-image: url("resources/front/Matchbox_UI_MenuBuildings.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(19 * 1 * 32px) calc(15 * 1 * 32px);
    background-size:calc(1664px * 1) calc(384px * 1);
}
.building26 {
    display:inline-block;
    background-image: url("resources/front/Matchbox_UI_MenuBuildings.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(15 * 1 * 32px) calc(15 * 1 * 32px);
    background-size:calc(1664px * 1) calc(384px * 1);
}
.building27 {
    display:inline-block;
    background-image: url("resources/front/Matchbox_UI_MenuBuildings.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(11 * 1 * 32px) calc(15 * 1 * 32px);
    background-size:calc(1664px * 1) calc(384px * 1);
}
.building28 {
    display:inline-block;
    background-image: url("resources/front/Matchbox_UI_MenuBuildings.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(7 * 1 * 32px) calc(15 * 1 * 32px);
    background-size:calc(1664px * 1) calc(384px * 1);
}
/* bas à droite */
.building29 {
    display:inline-block;
    background-image: url("resources/front/Matchbox_UI_MenuBuildings.png");
    height:calc(64px * 1);
    width:calc(64px * 1);
    background-position:calc(3 * 1 * 32px) calc(15 * 1 * 32px);
    background-size:calc(1664px * 1) calc(384px * 1);
}